In [1]:
import boto3 # Python integration with AWS.
import pandas as pd # Read csv.
from io import StringIO # Read csv on AWS.
from datetime import datetime, timedelta # Date functions.

In [8]:
# Argument Date for start of the report
arg_date = '2022-11-21'

In [9]:
# Convert to data type and use previous day
arg_date_dt = datetime.strptime(arg_date, '%Y-%m-%d').date() - timedelta(days=1)

In [10]:
arg_date_dt

datetime.date(2022, 11, 17)

In [11]:
# Variables for data on AWS S3.
s3 = boto3.resource('s3')
bucket = s3.Bucket('xetra-1234')

In [12]:
# List of filtered CSVs.
# Filter using arg_date
objects = [obj for obj in bucket.objects.all() if datetime.strptime(obj.key.split("/")[0], '%Y-%m-%d').date() >= arg_date_dt]

In [13]:
# Print list.
objects

[s3.ObjectSummary(bucket_name='xetra-1234', key='2022-11-17/2022-11-17_BINS_XETR00.csv'),
 s3.ObjectSummary(bucket_name='xetra-1234', key='2022-11-17/2022-11-17_BINS_XETR01.csv'),
 s3.ObjectSummary(bucket_name='xetra-1234', key='2022-11-17/2022-11-17_BINS_XETR02.csv'),
 s3.ObjectSummary(bucket_name='xetra-1234', key='2022-11-17/2022-11-17_BINS_XETR03.csv'),
 s3.ObjectSummary(bucket_name='xetra-1234', key='2022-11-17/2022-11-17_BINS_XETR04.csv'),
 s3.ObjectSummary(bucket_name='xetra-1234', key='2022-11-17/2022-11-17_BINS_XETR05.csv'),
 s3.ObjectSummary(bucket_name='xetra-1234', key='2022-11-17/2022-11-17_BINS_XETR06.csv'),
 s3.ObjectSummary(bucket_name='xetra-1234', key='2022-11-17/2022-11-17_BINS_XETR07.csv'),
 s3.ObjectSummary(bucket_name='xetra-1234', key='2022-11-17/2022-11-17_BINS_XETR08.csv'),
 s3.ObjectSummary(bucket_name='xetra-1234', key='2022-11-17/2022-11-17_BINS_XETR09.csv'),
 s3.ObjectSummary(bucket_name='xetra-1234', key='2022-11-17/2022-11-17_BINS_XETR10.csv'),
 s3.ObjectSummary(bucket_name='xetra-1234', key='2022-11-17/2022-11-17_BINS_XETR11.csv'),
 s3.ObjectSummary(bucket_name='xetra-1234', key='2022-11-17/2022-11-17_BINS_XETR12.csv'),
 s3.ObjectSummary(bucket_name='xetra-1234', key='2022-11-17/2022-11-17_BINS_XETR13.csv'),
 s3.ObjectSummary(bucket_name='xetra-1234', key='2022-11-17/2022-11-17_BINS_XETR14.csv'),
 s3.ObjectSummary(bucket_name='xetra-1234', key='2022-11-17/2022-11-17_BINS_XETR15.csv'),
 s3.ObjectSummary(bucket_name='xetra-1234', key='2022-11-17/2022-11-17_BINS_XETR16.csv'),
 s3.ObjectSummary(bucket_name='xetra-1234', key='2022-11-17/2022-11-17_BINS_XETR17.csv'),
 s3.ObjectSummary(bucket_name='xetra-1234', key='2022-11-17/2022-11-17_BINS_XETR18.csv'),
 s3.ObjectSummary(bucket_name='xetra-1234', key='2022-11-17/2022-11-17_BINS_XETR19.csv'),
 s3.ObjectSummary(bucket_name='xetra-1234', key='2022-11-17/2022-11-17_BINS_XETR20.csv'),
 s3.ObjectSummary(bucket_name='xetra-1234', key='2022-11-17/2022-11-17_BINS_XETR21.csv'),
 s3.ObjectSummary(bucket_name='xetra-1234', key='2022-11-17/2022-11-17_BINS_XETR22.csv'),
 s3.ObjectSummary(bucket_name='xetra-1234', key='2022-11-17/2022-11-17_BINS_XETR23.csv'),
 s3.ObjectSummary(bucket_name='xetra-1234', key='2022-11-18/2022-11-18_BINS_XETR00.csv'),
 s3.ObjectSummary(bucket_name='xetra-1234', key='2022-11-18/2022-11-18_BINS_XETR01.csv'),
 s3.ObjectSummary(bucket_name='xetra-1234', key='2022-11-18/2022-11-18_BINS_XETR02.csv'),
 s3.ObjectSummary(bucket_name='xetra-1234', key='2022-11-18/2022-11-18_BINS_XETR03.csv'),
 s3.ObjectSummary(bucket_name='xetra-1234', key='2022-11-18/2022-11-18_BINS_XETR04.csv'),
 s3.ObjectSummary(bucket_name='xetra-1234', key='2022-11-18/2022-11-18_BINS_XETR05.csv'),
 s3.ObjectSummary(bucket_name='xetra-1234', key='2022-11-18/2022-11-18_BINS_XETR06.csv'),
 s3.ObjectSummary(bucket_name='xetra-1234', key='2022-11-18/2022-11-18_BINS_XETR07.csv'),
 s3.ObjectSummary(bucket_name='xetra-1234', key='2022-11-18/2022-11-18_BINS_XETR08.csv'),
 s3.ObjectSummary(bucket_name='xetra-1234', key='2022-11-18/2022-11-18_BINS_XETR09.csv'),
 s3.ObjectSummary(bucket_name='xetra-1234', key='2022-11-18/2022-11-18_BINS_XETR10.csv'),
 s3.ObjectSummary(bucket_name='xetra-1234', key='2022-11-18/2022-11-18_BINS_XETR11.csv'),
 s3.ObjectSummary(bucket_name='xetra-1234', key='2022-11-18/2022-11-18_BINS_XETR12.csv'),
 s3.ObjectSummary(bucket_name='xetra-1234', key='2022-11-18/2022-11-18_BINS_XETR13.csv'),
 s3.ObjectSummary(bucket_name='xetra-1234', key='2022-11-18/2022-11-18_BINS_XETR14.csv'),
 s3.ObjectSummary(bucket_name='xetra-1234', key='2022-11-18/2022-11-18_BINS_XETR15.csv'),
 s3.ObjectSummary(bucket_name='xetra-1234', key='2022-11-18/2022-11-18_BINS_XETR16.csv'),
 s3.ObjectSummary(bucket_name='xetra-1234', key='2022-11-18/2022-11-18_BINS_XETR17.csv'),
 s3.ObjectSummary(bucket_name='xetra-1234', key='2022-11-18/2022-11-18_BINS_XETR18.csv'),
 s3.ObjectSummary(bucket_name='xetra-1234', key='2022-11-18/2022-11-18_BINS_XETR19.csv'),
 s3.ObjectSummary(bucket_name='xetra-1234', key='2022-11-18/2022-11-18_BINS_XETR20.csv'),
 s3.ObjectSummary(bucket_name='xetra-1234', key='2022-11-18/2022-11-18_BINS_XETR21.csv'),
 s3.ObjectSummary(bucket_name='xetra-1234', key='2022-11-18/2022-11-18_BINS_XETR22.csv'),
 s3.ObjectSummary(bucket_name='xetra-1234', key='2022-11-18/2022-11-18_BINS_XETR23.csv'),
 s3.ObjectSummary(bucket_name='xetra-1234', key='2022-11-19/2022-11-18_BINS_XETR00.csv'),
 s3.ObjectSummary(bucket_name='xetra-1234', key='2022-11-19/2022-11-18_BINS_XETR01.csv'),
 s3.ObjectSummary(bucket_name='xetra-1234', key='2022-11-19/2022-11-18_BINS_XETR02.csv'),
 s3.ObjectSummary(bucket_name='xetra-1234', key='2022-11-19/2022-11-18_BINS_XETR03.csv'),
 s3.ObjectSummary(bucket_name='xetra-1234', key='2022-11-19/2022-11-18_BINS_XETR04.csv'),
 s3.ObjectSummary(bucket_name='xetra-1234', key='2022-11-19/2022-11-18_BINS_XETR05.csv'),
 s3.ObjectSummary(bucket_name='xetra-1234', key='2022-11-19/2022-11-18_BINS_XETR06.csv'),
 s3.ObjectSummary(bucket_name='xetra-1234', key='2022-11-19/2022-11-18_BINS_XETR07.csv'),
 s3.ObjectSummary(bucket_name='xetra-1234', key='2022-11-19/2022-11-18_BINS_XETR08.csv'),
 s3.ObjectSummary(bucket_name='xetra-1234', key='2022-11-19/2022-11-18_BINS_XETR09.csv'),
 s3.ObjectSummary(bucket_name='xetra-1234', key='2022-11-19/2022-11-18_BINS_XETR10.csv'),
 s3.ObjectSummary(bucket_name='xetra-1234', key='2022-11-19/2022-11-18_BINS_XETR11.csv'),
 s3.ObjectSummary(bucket_name='xetra-1234', key='2022-11-19/2022-11-18_BINS_XETR12.csv'),
 s3.ObjectSummary(bucket_name='xetra-1234', key='2022-11-19/2022-11-18_BINS_XETR13.csv'),
 s3.ObjectSummary(bucket_name='xetra-1234', key='2022-11-19/2022-11-18_BINS_XETR14.csv'),
 s3.ObjectSummary(bucket_name='xetra-1234', key='2022-11-19/2022-11-18_BINS_XETR15.csv'),
 s3.ObjectSummary(bucket_name='xetra-1234', key='2022-11-19/2022-11-18_BINS_XETR16.csv'),
 s3.ObjectSummary(bucket_name='xetra-1234', key='2022-11-19/2022-11-18_BINS_XETR17.csv'),
 s3.ObjectSummary(bucket_name='xetra-1234', key='2022-11-19/2022-11-18_BINS_XETR18.csv'),
 s3.ObjectSummary(bucket_name='xetra-1234', key='2022-11-19/2022-11-18_BINS_XETR19.csv'),
 s3.ObjectSummary(bucket_name='xetra-1234', key='2022-11-19/2022-11-18_BINS_XETR20.csv'),
 s3.ObjectSummary(bucket_name='xetra-1234', key='2022-11-19/2022-11-18_BINS_XETR21.csv'),
 s3.ObjectSummary(bucket_name='xetra-1234', key='2022-11-19/2022-11-18_BINS_XETR22.csv'),
 s3.ObjectSummary(bucket_name='xetra-1234', key='2022-11-19/2022-11-18_BINS_XETR23.csv'),
 s3.ObjectSummary(bucket_name='xetra-1234', key='2022-11-20/2022-11-18_BINS_XETR00.csv'),
 s3.ObjectSummary(bucket_name='xetra-1234', key='2022-11-20/2022-11-18_BINS_XETR01.csv'),
 s3.ObjectSummary(bucket_name='xetra-1234', key='2022-11-20/2022-11-18_BINS_XETR02.csv'),
 s3.ObjectSummary(bucket_name='xetra-1234', key='2022-11-20/2022-11-18_BINS_XETR03.csv'),
 s3.ObjectSummary(bucket_name='xetra-1234', key='2022-11-20/2022-11-18_BINS_XETR04.csv'),
 s3.ObjectSummary(bucket_name='xetra-1234', key='2022-11-20/2022-11-18_BINS_XETR05.csv'),
 s3.ObjectSummary(bucket_name='xetra-1234', key='2022-11-20/2022-11-18_BINS_XETR06.csv'),
 s3.ObjectSummary(bucket_name='xetra-1234', key='2022-11-20/2022-11-18_BINS_XETR07.csv'),
 s3.ObjectSummary(bucket_name='xetra-1234', key='2022-11-20/2022-11-18_BINS_XETR08.csv'),
 s3.ObjectSummary(bucket_name='xetra-1234', key='2022-11-20/2022-11-18_BINS_XETR09.csv'),
 s3.ObjectSummary(bucket_name='xetra-1234', key='2022-11-20/2022-11-18_BINS_XETR10.csv'),
 s3.ObjectSummary(bucket_name='xetra-1234', key='2022-11-20/2022-11-18_BINS_XETR11.csv'),
 s3.ObjectSummary(bucket_name='xetra-1234', key='2022-11-20/2022-11-18_BINS_XETR12.csv'),
 s3.ObjectSummary(bucket_name='xetra-1234', key='2022-11-20/2022-11-18_BINS_XETR13.csv'),
 s3.ObjectSummary(bucket_name='xetra-1234', key='2022-11-20/2022-11-18_BINS_XETR14.csv'),
 s3.ObjectSummary(bucket_name='xetra-1234', key='2022-11-20/2022-11-18_BINS_XETR15.csv'),
 s3.ObjectSummary(bucket_name='xetra-1234', key='2022-11-20/2022-11-18_BINS_XETR16.csv'),
 s3.ObjectSummary(bucket_name='xetra-1234', key='2022-11-20/2022-11-18_BINS_XETR17.csv'),
 s3.ObjectSummary(bucket_name='xetra-1234', key='2022-11-20/2022-11-18_BINS_XETR18.csv'),
 s3.ObjectSummary(bucket_name='xetra-1234', key='2022-11-20/2022-11-18_BINS_XETR19.csv'),
 s3.ObjectSummary(bucket_name='xetra-1234', key='2022-11-20/2022-11-18_BINS_XETR20.csv'),
 s3.ObjectSummary(bucket_name='xetra-1234', key='2022-11-20/2022-11-18_BINS_XETR21.csv'),
 s3.ObjectSummary(bucket_name='xetra-1234', key='2022-11-20/2022-11-18_BINS_XETR22.csv'),
 s3.ObjectSummary(bucket_name='xetra-1234', key='2022-11-20/2022-11-18_BINS_XETR23.csv'),
 s3.ObjectSummary(bucket_name='xetra-1234', key='2022-11-21/2022-11-21_BINS_XETR00.csv'),
 s3.ObjectSummary(bucket_name='xetra-1234', key='2022-11-21/2022-11-21_BINS_XETR01.csv'),
 s3.ObjectSummary(bucket_name='xetra-1234', key='2022-11-21/2022-11-21_BINS_XETR02.csv'),
 s3.ObjectSummary(bucket_name='xetra-1234', key='2022-11-21/2022-11-21_BINS_XETR03.csv'),
 s3.ObjectSummary(bucket_name='xetra-1234', key='2022-11-21/2022-11-21_BINS_XETR04.csv'),
 s3.ObjectSummary(bucket_name='xetra-1234', key='2022-11-21/2022-11-21_BINS_XETR05.csv'),
 s3.ObjectSummary(bucket_name='xetra-1234', key='2022-11-21/2022-11-21_BINS_XETR06.csv'),
 s3.ObjectSummary(bucket_name='xetra-1234', key='2022-11-21/2022-11-21_BINS_XETR07.csv'),
 s3.ObjectSummary(bucket_name='xetra-1234', key='2022-11-21/2022-11-21_BINS_XETR08.csv'),
 s3.ObjectSummary(bucket_name='xetra-1234', key='2022-11-21/2022-11-21_BINS_XETR09.csv'),
 s3.ObjectSummary(bucket_name='xetra-1234', key='2022-11-21/2022-11-21_BINS_XETR10.csv'),
 s3.ObjectSummary(bucket_name='xetra-1234', key='2022-11-21/2022-11-21_BINS_XETR11.csv'),
 s3.ObjectSummary(bucket_name='xetra-1234', key='2022-11-21/2022-11-21_BINS_XETR12.csv'),
 s3.ObjectSummary(bucket_name='xetra-1234', key='2022-11-21/2022-11-21_BINS_XETR13.csv'),
 s3.ObjectSummary(bucket_name='xetra-1234', key='2022-11-21/2022-11-21_BINS_XETR14.csv'),
 s3.ObjectSummary(bucket_name='xetra-1234', key='2022-11-21/2022-11-21_BINS_XETR15.csv'),
 s3.ObjectSummary(bucket_name='xetra-1234', key='2022-11-21/2022-11-21_BINS_XETR16.csv'),
 s3.ObjectSummary(bucket_name='xetra-1234', key='2022-11-21/2022-11-21_BINS_XETR17.csv'),
 s3.ObjectSummary(bucket_name='xetra-1234', key='2022-11-21/2022-11-21_BINS_XETR18.csv'),
 s3.ObjectSummary(bucket_name='xetra-1234', key='2022-11-21/2022-11-21_BINS_XETR19.csv'),
 s3.ObjectSummary(bucket_name='xetra-1234', key='2022-11-21/2022-11-21_BINS_XETR20.csv'),
 s3.ObjectSummary(bucket_name='xetra-1234', key='2022-11-21/2022-11-21_BINS_XETR21.csv'),
 s3.ObjectSummary(bucket_name='xetra-1234', key='2022-11-21/2022-11-21_BINS_XETR22.csv'),
 s3.ObjectSummary(bucket_name='xetra-1234', key='2022-11-21/2022-11-21_BINS_XETR23.csv'),
 s3.ObjectSummary(bucket_name='xetra-1234', key='2022-11-22/2022-11-22_BINS_XETR00.csv'),
 s3.ObjectSummary(bucket_name='xetra-1234', key='2022-11-22/2022-11-22_BINS_XETR01.csv'),
 s3.ObjectSummary(bucket_name='xetra-1234', key='2022-11-22/2022-11-22_BINS_XETR02.csv'),
 s3.ObjectSummary(bucket_name='xetra-1234', key='2022-11-22/2022-11-22_BINS_XETR03.csv'),
 s3.ObjectSummary(bucket_name='xetra-1234', key='2022-11-22/2022-11-22_BINS_XETR04.csv'),
 s3.ObjectSummary(bucket_name='xetra-1234', key='2022-11-22/2022-11-22_BINS_XETR05.csv'),
 s3.ObjectSummary(bucket_name='xetra-1234', key='2022-11-22/2022-11-22_BINS_XETR06.csv'),
 s3.ObjectSummary(bucket_name='xetra-1234', key='2022-11-22/2022-11-22_BINS_XETR07.csv'),
 s3.ObjectSummary(bucket_name='xetra-1234', key='2022-11-22/2022-11-22_BINS_XETR08.csv'),
 s3.ObjectSummary(bucket_name='xetra-1234', key='2022-11-22/2022-11-22_BINS_XETR09.csv'),
 s3.ObjectSummary(bucket_name='xetra-1234', key='2022-11-22/2022-11-22_BINS_XETR10.csv'),
 s3.ObjectSummary(bucket_name='xetra-1234', key='2022-11-22/2022-11-22_BINS_XETR11.csv'),
 s3.ObjectSummary(bucket_name='xetra-1234', key='2022-11-22/2022-11-22_BINS_XETR12.csv'),
 s3.ObjectSummary(bucket_name='xetra-1234', key='2022-11-22/2022-11-22_BINS_XETR13.csv'),
 s3.ObjectSummary(bucket_name='xetra-1234', key='2022-11-22/2022-11-22_BINS_XETR14.csv'),
 s3.ObjectSummary(bucket_name='xetra-1234', key='2022-11-22/2022-11-22_BINS_XETR15.csv'),
 s3.ObjectSummary(bucket_name='xetra-1234', key='2022-11-22/2022-11-22_BINS_XETR16.csv'),
 s3.ObjectSummary(bucket_name='xetra-1234', key='2022-11-22/2022-11-22_BINS_XETR17.csv'),
 s3.ObjectSummary(bucket_name='xetra-1234', key='2022-11-22/2022-11-22_BINS_XETR18.csv'),
 s3.ObjectSummary(bucket_name='xetra-1234', key='2022-11-22/2022-11-22_BINS_XETR19.csv'),
 s3.ObjectSummary(bucket_name='xetra-1234', key='2022-11-22/2022-11-22_BINS_XETR20.csv'),
 s3.ObjectSummary(bucket_name='xetra-1234', key='2022-11-22/2022-11-22_BINS_XETR21.csv'),
 s3.ObjectSummary(bucket_name='xetra-1234', key='2022-11-22/2022-11-22_BINS_XETR22.csv'),
 s3.ObjectSummary(bucket_name='xetra-1234', key='2022-11-22/2022-11-22_BINS_XETR23.csv')]

In [14]:
# Initial data frame.
csv_obj_init = bucket.Object(key=objects[0].key).get().get('Body').read().decode('utf-8')
data = StringIO(csv_obj_init)
df_init = pd.read_csv(data, delimiter=',')

In [15]:
# Columns of initial data frame.
df_init.columns

Index(['ISIN', 'Mnemonic', 'SecurityDesc', 'SecurityType', 'Currency',
       'SecurityID', 'Date', 'Time', 'StartPrice', 'MaxPrice', 'MinPrice',
       'EndPrice', 'TradedVolume', 'NumberOfTrades'],
      dtype='object')

In [16]:
# Read csv.

# Initialize single data frame for all dfs.
df_all = pd.DataFrame(columns=df_init.columns)

# Loop for multiple csvs.
for obj in objects:
    csv_obj = bucket.Object(key=obj.key).get().get('Body').read().decode('utf-8')
    # Read csvs with StringIO (needed for AWS) and Pandas
    data = StringIO(csv_obj)
    df = pd.read_csv(data, delimiter=',')
    # Single data frame for all dfs.
    df_all = df_all.append(df, ignore_index=True)

C:\Users\gedim\AppData\Local\Temp\ipykernel_15116\1253865853.py:13: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_all = df_all.append(df, ignore_index=True)
C:\Users\gedim\AppData\Local\Temp\ipykernel_15116\1253865853.py:13: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_all = df_all.append(df, ignore_index=True)
C:\Users\gedim\AppData\Local\Temp\ipykernel_15116\1253865853.py:13: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_all = df_all.append(df, ignore_index=True)
C:\Users\gedim\AppData\Local\Temp\ipykernel_15116\1253865853.py:13: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_all = df_all.append(df, ignore_index=True)
C:\Users\gedim\AppData\Local\Temp\ipykernel_15116\1253865853.py:13: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_all = df_all.append(df, ignore_index=True)
C:\Users\gedim\AppData\Local\Temp\ipykernel_15116\1253865853.py:13: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_all = df_all.append(df, ignore_index=True)
C:\Users\gedim\AppData\Local\Temp\ipykernel_15116\1253865853.py:13: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_all = df_all.append(df, ignore_index=True)
C:\Users\gedim\AppData\Local\Temp\ipykernel_15116\1253865853.py:13: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_all = df_all.append(df, ignore_index=True)
C:\Users\gedim\AppData\Local\Temp\ipykernel_15116\1253865853.py:13: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_all = df_all.append(df, ignore_index=True)
C:\Users\gedim\AppData\Local\Temp\ipykernel_15116\1253865853.py:13: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_all = df_all.append(df, ignore_index=True)
C:\Users\gedim\AppData\Local\Temp\ipykernel_15116\1253865853.py:13: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_all = df_all.append(df, ignore_index=True)
C:\Users\gedim\AppData\Local\Temp\ipykernel_15116\1253865853.py:13: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_all = df_all.append(df, ignore_index=True)
C:\Users\gedim\AppData\Local\Temp\ipykernel_15116\1253865853.py:13: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_all = df_all.append(df, ignore_index=True)
C:\Users\gedim\AppData\Local\Temp\ipykernel_15116\1253865853.py:13: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_all = df_all.append(df, ignore_index=True)
C:\Users\gedim\AppData\Local\Temp\ipykernel_15116\1253865853.py:13: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_all = df_all.append(df, ignore_index=True)
C:\Users\gedim\AppData\Local\Temp\ipykernel_15116\1253865853.py:13: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_all = df_all.append(df, ignore_index=True)
C:\Users\gedim\AppData\Local\Temp\ipykernel_15116\1253865853.py:13: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_all = df_all.append(df, ignore_index=True)
C:\Users\gedim\AppData\Local\Temp\ipykernel_15116\1253865853.py:13: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_all = df_all.append(df, ignore_index=True)
C:\Users\gedim\AppData\Local\Temp\ipykernel_15116\1253865853.py:13: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_all = df_all.append(df, ignore_index=True)
C:\Users\gedim\AppData\Local\Temp\ipykernel_15116\1253865853.py:13: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_all = df_all.append(df, ignore_index=True)
C:\Users\gedim\AppData\Local\Temp\ipykernel_15116\1253865853.py:13: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_all = df_all.append(df, ignore_index=True)
C:\Users\gedim\AppData\Local\Temp\ipykernel_15116\1253865853.py:13: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_all = df_all.append(df, ignore_index=True)
C:\Users\gedim\AppData\Local\Temp\ipykernel_15116\1253865853.py:13: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_all = df_all.append(df, ignore_index=True)
C:\Users\gedim\AppData\Local\Temp\ipykernel_15116\1253865853.py:13: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_all = df_all.append(df, ignore_index=True)
C:\Users\gedim\AppData\Local\Temp\ipykernel_15116\1253865853.py:13: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_all = df_all.append(df, ignore_index=True)
C:\Users\gedim\AppData\Local\Temp\ipykernel_15116\1253865853.py:13: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_all = df_all.append(df, ignore_index=True)
C:\Users\gedim\AppData\Local\Temp\ipykernel_15116\1253865853.py:13: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_all = df_all.append(df, ignore_index=True)
C:\Users\gedim\AppData\Local\Temp\ipykernel_15116\1253865853.py:13: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_all = df_all.append(df, ignore_index=True)
C:\Users\gedim\AppData\Local\Temp\ipykernel_15116\1253865853.py:13: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_all = df_all.append(df, ignore_index=True)
C:\Users\gedim\AppData\Local\Temp\ipykernel_15116\1253865853.py:13: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_all = df_all.append(df, ignore_index=True)
C:\Users\gedim\AppData\Local\Temp\ipykernel_15116\1253865853.py:13: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_all = df_all.append(df, ignore_index=True)
C:\Users\gedim\AppData\Local\Temp\ipykernel_15116\1253865853.py:13: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_all = df_all.append(df, ignore_index=True)
C:\Users\gedim\AppData\Local\Temp\ipykernel_15116\1253865853.py:13: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_all = df_all.append(df, ignore_index=True)

C:\Users\gedim\AppData\Local\Temp\ipykernel_15116\1253865853.py:13: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_all = df_all.append(df, ignore_index=True)
C:\Users\gedim\AppData\Local\Temp\ipykernel_15116\1253865853.py:13: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_all = df_all.append(df, ignore_index=True)
C:\Users\gedim\AppData\Local\Temp\ipykernel_15116\1253865853.py:13: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_all = df_all.append(df, ignore_index=True)
C:\Users\gedim\AppData\Local\Temp\ipykernel_15116\1253865853.py:13: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_all = df_all.append(df, ignore_index=True)
C:\Users\gedim\AppData\Local\Temp\ipykernel_15116\1253865853.py:13: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_all = df_all.append(df, ignore_index=True)
C:\Users\gedim\AppData\Local\Temp\ipykernel_15116\1253865853.py:13: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_all = df_all.append(df, ignore_index=True)
C:\Users\gedim\AppData\Local\Temp\ipykernel_15116\1253865853.py:13: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_all = df_all.append(df, ignore_index=True)
C:\Users\gedim\AppData\Local\Temp\ipykernel_15116\1253865853.py:13: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_all = df_all.append(df, ignore_index=True)
C:\Users\gedim\AppData\Local\Temp\ipykernel_15116\1253865853.py:13: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_all = df_all.append(df, ignore_index=True)
C:\Users\gedim\AppData\Local\Temp\ipykernel_15116\1253865853.py:13: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_all = df_all.append(df, ignore_index=True)
C:\Users\gedim\AppData\Local\Temp\ipykernel_15116\1253865853.py:13: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_all = df_all.append(df, ignore_index=True)
C:\Users\gedim\AppData\Local\Temp\ipykernel_15116\1253865853.py:13: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_all = df_all.append(df, ignore_index=True)
C:\Users\gedim\AppData\Local\Temp\ipykernel_15116\1253865853.py:13: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_all = df_all.append(df, ignore_index=True)
C:\Users\gedim\AppData\Local\Temp\ipykernel_15116\1253865853.py:13: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_all = df_all.append(df, ignore_index=True)
C:\Users\gedim\AppData\Local\Temp\ipykernel_15116\1253865853.py:13: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_all = df_all.append(df, ignore_index=True)
C:\Users\gedim\AppData\Local\Temp\ipykernel_15116\1253865853.py:13: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_all = df_all.append(df, ignore_index=True)
C:\Users\gedim\AppData\Local\Temp\ipykernel_15116\1253865853.py:13: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_all = df_all.append(df, ignore_index=True)
C:\Users\gedim\AppData\Local\Temp\ipykernel_15116\1253865853.py:13: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_all = df_all.append(df, ignore_index=True)
C:\Users\gedim\AppData\Local\Temp\ipykernel_15116\1253865853.py:13: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_all = df_all.append(df, ignore_index=True)
C:\Users\gedim\AppData\Local\Temp\ipykernel_15116\1253865853.py:13: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_all = df_all.append(df, ignore_index=True)
C:\Users\gedim\AppData\Local\Temp\ipykernel_15116\1253865853.py:13: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_all = df_all.append(df, ignore_index=True)
C:\Users\gedim\AppData\Local\Temp\ipykernel_15116\1253865853.py:13: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_all = df_all.append(df, ignore_index=True)
C:\Users\gedim\AppData\Local\Temp\ipykernel_15116\1253865853.py:13: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_all = df_all.append(df, ignore_index=True)
C:\Users\gedim\AppData\Local\Temp\ipykernel_15116\1253865853.py:13: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_all = df_all.append(df, ignore_index=True)
C:\Users\gedim\AppData\Local\Temp\ipykernel_15116\1253865853.py:13: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_all = df_all.append(df, ignore_index=True)
C:\Users\gedim\AppData\Local\Temp\ipykernel_15116\1253865853.py:13: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_all = df_all.append(df, ignore_index=True)
C:\Users\gedim\AppData\Local\Temp\ipykernel_15116\1253865853.py:13: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_all = df_all.append(df, ignore_index=True)
C:\Users\gedim\AppData\Local\Temp\ipykernel_15116\1253865853.py:13: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_all = df_all.append(df, ignore_index=True)
C:\Users\gedim\AppData\Local\Temp\ipykernel_15116\1253865853.py:13: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_all = df_all.append(df, ignore_index=True)
C:\Users\gedim\AppData\Local\Temp\ipykernel_15116\1253865853.py:13: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_all = df_all.append(df, ignore_index=True)
C:\Users\gedim\AppData\Local\Temp\ipykernel_15116\1253865853.py:13: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_all = df_all.append(df, ignore_index=True)
C:\Users\gedim\AppData\Local\Temp\ipykernel_15116\1253865853.py:13: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_all = df_all.append(df, ignore_index=True)
C:\Users\gedim\AppData\Local\Temp\ipykernel_15116\1253865853.py:13: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_all = df_all.append(df, ignore_index=True)
C:\Users\gedim\AppData\Local\Temp\ipykernel_15116\1253865853.py:13: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_all = df_all.append(df, ignore_index=True)

C:\Users\gedim\AppData\Local\Temp\ipykernel_15116\1253865853.py:13: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_all = df_all.append(df, ignore_index=True)
C:\Users\gedim\AppData\Local\Temp\ipykernel_15116\1253865853.py:13: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_all = df_all.append(df, ignore_index=True)
C:\Users\gedim\AppData\Local\Temp\ipykernel_15116\1253865853.py:13: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_all = df_all.append(df, ignore_index=True)
C:\Users\gedim\AppData\Local\Temp\ipykernel_15116\1253865853.py:13: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_all = df_all.append(df, ignore_index=True)
C:\Users\gedim\AppData\Local\Temp\ipykernel_15116\1253865853.py:13: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_all = df_all.append(df, ignore_index=True)
C:\Users\gedim\AppData\Local\Temp\ipykernel_15116\1253865853.py:13: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_all = df_all.append(df, ignore_index=True)
C:\Users\gedim\AppData\Local\Temp\ipykernel_15116\1253865853.py:13: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_all = df_all.append(df, ignore_index=True)
C:\Users\gedim\AppData\Local\Temp\ipykernel_15116\1253865853.py:13: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_all = df_all.append(df, ignore_index=True)
C:\Users\gedim\AppData\Local\Temp\ipykernel_15116\1253865853.py:13: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_all = df_all.append(df, ignore_index=True)
C:\Users\gedim\AppData\Local\Temp\ipykernel_15116\1253865853.py:13: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_all = df_all.append(df, ignore_index=True)
C:\Users\gedim\AppData\Local\Temp\ipykernel_15116\1253865853.py:13: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_all = df_all.append(df, ignore_index=True)
C:\Users\gedim\AppData\Local\Temp\ipykernel_15116\1253865853.py:13: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_all = df_all.append(df, ignore_index=True)
C:\Users\gedim\AppData\Local\Temp\ipykernel_15116\1253865853.py:13: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_all = df_all.append(df, ignore_index=True)
C:\Users\gedim\AppData\Local\Temp\ipykernel_15116\1253865853.py:13: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_all = df_all.append(df, ignore_index=True)
C:\Users\gedim\AppData\Local\Temp\ipykernel_15116\1253865853.py:13: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_all = df_all.append(df, ignore_index=True)
C:\Users\gedim\AppData\Local\Temp\ipykernel_15116\1253865853.py:13: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_all = df_all.append(df, ignore_index=True)
C:\Users\gedim\AppData\Local\Temp\ipykernel_15116\1253865853.py:13: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_all = df_all.append(df, ignore_index=True)
C:\Users\gedim\AppData\Local\Temp\ipykernel_15116\1253865853.py:13: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_all = df_all.append(df, ignore_index=True)
C:\Users\gedim\AppData\Local\Temp\ipykernel_15116\1253865853.py:13: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_all = df_all.append(df, ignore_index=True)
C:\Users\gedim\AppData\Local\Temp\ipykernel_15116\1253865853.py:13: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_all = df_all.append(df, ignore_index=True)
C:\Users\gedim\AppData\Local\Temp\ipykernel_15116\1253865853.py:13: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_all = df_all.append(df, ignore_index=True)
C:\Users\gedim\AppData\Local\Temp\ipykernel_15116\1253865853.py:13: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_all = df_all.append(df, ignore_index=True)
C:\Users\gedim\AppData\Local\Temp\ipykernel_15116\1253865853.py:13: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_all = df_all.append(df, ignore_index=True)
C:\Users\gedim\AppData\Local\Temp\ipykernel_15116\1253865853.py:13: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_all = df_all.append(df, ignore_index=True)
C:\Users\gedim\AppData\Local\Temp\ipykernel_15116\1253865853.py:13: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_all = df_all.append(df, ignore_index=True)
C:\Users\gedim\AppData\Local\Temp\ipykernel_15116\1253865853.py:13: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_all = df_all.append(df, ignore_index=True)
C:\Users\gedim\AppData\Local\Temp\ipykernel_15116\1253865853.py:13: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_all = df_all.append(df, ignore_index=True)
C:\Users\gedim\AppData\Local\Temp\ipykernel_15116\1253865853.py:13: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_all = df_all.append(df, ignore_index=True)
C:\Users\gedim\AppData\Local\Temp\ipykernel_15116\1253865853.py:13: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_all = df_all.append(df, ignore_index=True)
C:\Users\gedim\AppData\Local\Temp\ipykernel_15116\1253865853.py:13: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_all = df_all.append(df, ignore_index=True)
C:\Users\gedim\AppData\Local\Temp\ipykernel_15116\1253865853.py:13: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_all = df_all.append(df, ignore_index=True)
C:\Users\gedim\AppData\Local\Temp\ipykernel_15116\1253865853.py:13: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_all = df_all.append(df, ignore_index=True)
C:\Users\gedim\AppData\Local\Temp\ipykernel_15116\1253865853.py:13: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_all = df_all.append(df, ignore_index=True)

C:\Users\gedim\AppData\Local\Temp\ipykernel_15116\1253865853.py:13: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_all = df_all.append(df, ignore_index=True)
C:\Users\gedim\AppData\Local\Temp\ipykernel_15116\1253865853.py:13: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_all = df_all.append(df, ignore_index=True)
C:\Users\gedim\AppData\Local\Temp\ipykernel_15116\1253865853.py:13: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_all = df_all.append(df, ignore_index=True)
C:\Users\gedim\AppData\Local\Temp\ipykernel_15116\1253865853.py:13: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_all = df_all.append(df, ignore_index=True)
C:\Users\gedim\AppData\Local\Temp\ipykernel_15116\1253865853.py:13: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_all = df_all.append(df, ignore_index=True)
C:\Users\gedim\AppData\Local\Temp\ipykernel_15116\1253865853.py:13: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_all = df_all.append(df, ignore_index=True)
C:\Users\gedim\AppData\Local\Temp\ipykernel_15116\1253865853.py:13: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_all = df_all.append(df, ignore_index=True)
C:\Users\gedim\AppData\Local\Temp\ipykernel_15116\1253865853.py:13: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_all = df_all.append(df, ignore_index=True)
C:\Users\gedim\AppData\Local\Temp\ipykernel_15116\1253865853.py:13: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_all = df_all.append(df, ignore_index=True)
C:\Users\gedim\AppData\Local\Temp\ipykernel_15116\1253865853.py:13: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_all = df_all.append(df, ignore_index=True)
C:\Users\gedim\AppData\Local\Temp\ipykernel_15116\1253865853.py:13: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_all = df_all.append(df, ignore_index=True)
C:\Users\gedim\AppData\Local\Temp\ipykernel_15116\1253865853.py:13: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_all = df_all.append(df, ignore_index=True)
C:\Users\gedim\AppData\Local\Temp\ipykernel_15116\1253865853.py:13: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_all = df_all.append(df, ignore_index=True)
C:\Users\gedim\AppData\Local\Temp\ipykernel_15116\1253865853.py:13: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_all = df_all.append(df, ignore_index=True)
C:\Users\gedim\AppData\Local\Temp\ipykernel_15116\1253865853.py:13: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_all = df_all.append(df, ignore_index=True)
C:\Users\gedim\AppData\Local\Temp\ipykernel_15116\1253865853.py:13: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_all = df_all.append(df, ignore_index=True)
C:\Users\gedim\AppData\Local\Temp\ipykernel_15116\1253865853.py:13: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_all = df_all.append(df, ignore_index=True)
C:\Users\gedim\AppData\Local\Temp\ipykernel_15116\1253865853.py:13: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_all = df_all.append(df, ignore_index=True)
C:\Users\gedim\AppData\Local\Temp\ipykernel_15116\1253865853.py:13: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_all = df_all.append(df, ignore_index=True)
C:\Users\gedim\AppData\Local\Temp\ipykernel_15116\1253865853.py:13: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_all = df_all.append(df, ignore_index=True)
C:\Users\gedim\AppData\Local\Temp\ipykernel_15116\1253865853.py:13: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_all = df_all.append(df, ignore_index=True)
C:\Users\gedim\AppData\Local\Temp\ipykernel_15116\1253865853.py:13: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_all = df_all.append(df, ignore_index=True)
C:\Users\gedim\AppData\Local\Temp\ipykernel_15116\1253865853.py:13: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_all = df_all.append(df, ignore_index=True)
C:\Users\gedim\AppData\Local\Temp\ipykernel_15116\1253865853.py:13: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_all = df_all.append(df, ignore_index=True)
C:\Users\gedim\AppData\Local\Temp\ipykernel_15116\1253865853.py:13: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_all = df_all.append(df, ignore_index=True)
C:\Users\gedim\AppData\Local\Temp\ipykernel_15116\1253865853.py:13: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_all = df_all.append(df, ignore_index=True)
C:\Users\gedim\AppData\Local\Temp\ipykernel_15116\1253865853.py:13: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_all = df_all.append(df, ignore_index=True)
C:\Users\gedim\AppData\Local\Temp\ipykernel_15116\1253865853.py:13: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_all = df_all.append(df, ignore_index=True)
C:\Users\gedim\AppData\Local\Temp\ipykernel_15116\1253865853.py:13: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_all = df_all.append(df, ignore_index=True)
C:\Users\gedim\AppData\Local\Temp\ipykernel_15116\1253865853.py:13: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_all = df_all.append(df, ignore_index=True)
C:\Users\gedim\AppData\Local\Temp\ipykernel_15116\1253865853.py:13: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_all = df_all.append(df, ignore_index=True)
C:\Users\gedim\AppData\Local\Temp\ipykernel_15116\1253865853.py:13: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_all = df_all.append(df, ignore_index=True)
C:\Users\gedim\AppData\Local\Temp\ipykernel_15116\1253865853.py:13: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_all = df_all.append(df, ignore_index=True)

C:\Users\gedim\AppData\Local\Temp\ipykernel_15116\1253865853.py:13: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_all = df_all.append(df, ignore_index=True)
C:\Users\gedim\AppData\Local\Temp\ipykernel_15116\1253865853.py:13: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_all = df_all.append(df, ignore_index=True)
C:\Users\gedim\AppData\Local\Temp\ipykernel_15116\1253865853.py:13: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_all = df_all.append(df, ignore_index=True)
C:\Users\gedim\AppData\Local\Temp\ipykernel_15116\1253865853.py:13: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_all = df_all.append(df, ignore_index=True)
C:\Users\gedim\AppData\Local\Temp\ipykernel_15116\1253865853.py:13: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_all = df_all.append(df, ignore_index=True)
C:\Users\gedim\AppData\Local\Temp\ipykernel_15116\1253865853.py:13: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_all = df_all.append(df, ignore_index=True)
C:\Users\gedim\AppData\Local\Temp\ipykernel_15116\1253865853.py:13: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_all = df_all.append(df, ignore_index=True)
C:\Users\gedim\AppData\Local\Temp\ipykernel_15116\1253865853.py:13: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_all = df_all.append(df, ignore_index=True)
C:\Users\gedim\AppData\Local\Temp\ipykernel_15116\1253865853.py:13: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_all = df_all.append(df, ignore_index=True)
C:\Users\gedim\AppData\Local\Temp\ipykernel_15116\1253865853.py:13: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_all = df_all.append(df, ignore_index=True)
C:\Users\gedim\AppData\Local\Temp\ipykernel_15116\1253865853.py:13: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_all = df_all.append(df, ignore_index=True)

In [17]:
df_all

,ISIN,Mnemonic,SecurityDesc,SecurityType,Currency,SecurityID,Date,Time,StartPrice,MaxPrice,MinPrice,EndPrice,TradedVolume,NumberOfTrades
0,AT0000A0E9W5,SANT,S+T AG O.N.,Common stock,EUR,2504159,2022-11-17,08:00,15.780,15.780,15.780,15.780,588,1
1,DE000A0DJ6J9,S92,SMA SOLAR TECHNOL.AG,Common stock,EUR,2504287,2022-11-17,08:00,31.300,31.520,31.300,31.420,1914,6
2,DE000A0D6554,NDX1,NORDEX SE O.N.,Common stock,EUR,2504290,2022-11-17,08:00,13.620,13.620,13.570,13.590,5506,15
3,DE000A0D9PT0,MTX,MTU AERO ENGINES NA O.N.,Common stock,EUR,2504297,2022-11-17,08:00,210.100,211.800,210.000,210.000,4999,119
4,DE000A0HN5C6,DWNI,DEUTSCHE WOHNEN SE INH,Common stock,EUR,2504314,2022-11-17,08:00,36.850,36.850,36.850,36.850,99,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
666750,DE0007100000,MBG,MERCEDES-BENZ GRP NA O.N.,Common stock,EUR,2505076,2022-11-22,16:43,73.220,73.220,73.220,73.220,6404,2
666751,DE0005140008,DBK,DEUTSCHE BANK AG NA O.N.,Common stock,EUR,2504888,2022-11-22,16:44,13.204,13.204,13.204,13.204,2000,2
666752,DE0005659700,EUZ,ECKERT+ZIEGLER AG O.N.,Common stock,EUR,2504962,2022-11-22,16:44,63.600,63.600,63.600,63.600,157,2
666753,DE000A2E4K43,DHER,DELIVERY HERO SE NA O.N.,Common stock,EUR,2518798,2022-11-22,16:44,45.580,45.580,45.580,45.580,100,2
666754,LU2089238203,PRAW,AMUN.I.S.-A.PR.GL.UEDRDLA,ETF,EUR,4745054,2022-11-22,16:52,22.960,22.960,22.960,22.960,1500,2

In [18]:
# DF with filtered columns.
columns = ['ISIN', 'Date', 'Time', 'StartPrice', 'MaxPrice', 'MinPrice', 'EndPrice', 'TradedVolume']
df_all = df_all.loc[:, columns]

In [19]:
df_all

,ISIN,Date,Time,StartPrice,MaxPrice,MinPrice,EndPrice,TradedVolume
0,AT0000A0E9W5,2022-11-17,08:00,15.780,15.780,15.780,15.780,588
1,DE000A0DJ6J9,2022-11-17,08:00,31.300,31.520,31.300,31.420,1914
2,DE000A0D6554,2022-11-17,08:00,13.620,13.620,13.570,13.590,5506
3,DE000A0D9PT0,2022-11-17,08:00,210.100,211.800,210.000,210.000,4999
4,DE000A0HN5C6,2022-11-17,08:00,36.850,36.850,36.850,36.850,99
...,...,...,...,...,...,...,...,...
666750,DE0007100000,2022-11-22,16:43,73.220,73.220,73.220,73.220,6404
666751,DE0005140008,2022-11-22,16:44,13.204,13.204,13.204,13.204,2000
666752,DE0005659700,2022-11-22,16:44,63.600,63.600,63.600,63.600,157
666753,DE000A2E4K43,2022-11-22,16:44,45.580,45.580,45.580,45.580,100
666754,LU2089238203,2022-11-22,16:52,22.960,22.960,22.960,22.960,1500

In [20]:
# Filter out empty lines.
df_all.dropna(inplace=True)

In [21]:
# Check number of entries after filtering.
df_all.shape

(666755, 8)

# Transformations

In [22]:
# Get opening price per ISIN and day
# Create new column with opening price.
df_all['opening_price'] = df_all.sort_values(by=['Time']).groupby(['ISIN', 'Date'])['StartPrice'].transform('first')

In [23]:
df_all

,ISIN,Date,Time,StartPrice,MaxPrice,MinPrice,EndPrice,TradedVolume,opening_price
0,AT0000A0E9W5,2022-11-17,08:00,15.780,15.780,15.780,15.780,588,15.780
1,DE000A0DJ6J9,2022-11-17,08:00,31.300,31.520,31.300,31.420,1914,31.300
2,DE000A0D6554,2022-11-17,08:00,13.620,13.620,13.570,13.590,5506,13.620
3,DE000A0D9PT0,2022-11-17,08:00,210.100,211.800,210.000,210.000,4999,210.100
4,DE000A0HN5C6,2022-11-17,08:00,36.850,36.850,36.850,36.850,99,36.850
...,...,...,...,...,...,...,...,...,...
666750,DE0007100000,2022-11-22,16:43,73.220,73.220,73.220,73.220,6404,71.480
666751,DE0005140008,2022-11-22,16:44,13.204,13.204,13.204,13.204,2000,12.758
666752,DE0005659700,2022-11-22,16:44,63.600,63.600,63.600,63.600,157,59.950
666753,DE000A2E4K43,2022-11-22,16:44,45.580,45.580,45.580,45.580,100,44.460
666754,LU2089238203,2022-11-22,16:52,22.960,22.960,22.960,22.960,1500,22.200

In [24]:
# Filtered by ISIN
df_all[df_all['ISIN']=='AT0000A0E9W5']

,ISIN,Date,Time,StartPrice,MaxPrice,MinPrice,EndPrice,TradedVolume,opening_price
0,AT0000A0E9W5,2022-11-17,08:00,15.78,15.78,15.78,15.78,588,15.78
6964,AT0000A0E9W5,2022-11-17,08:23,15.78,15.78,15.78,15.78,200,15.78
8845,AT0000A0E9W5,2022-11-17,08:35,15.76,15.76,15.76,15.76,267,15.78
11081,AT0000A0E9W5,2022-11-17,08:46,15.79,15.80,15.73,15.79,7914,15.78
11307,AT0000A0E9W5,2022-11-17,08:47,15.75,15.80,15.73,15.73,1856,15.78
...,...,...,...,...,...,...,...,...,...
660373,AT0000A0E9W5,2022-11-22,16:21,14.57,14.57,14.55,14.55,277,13.90
661552,AT0000A0E9W5,2022-11-22,16:25,14.53,14.53,14.52,14.52,1417,13.90
662546,AT0000A0E9W5,2022-11-22,16:28,14.52,14.52,14.52,14.52,18,13.90
662901,AT0000A0E9W5,2022-11-22,16:29,14.51,14.51,14.48,14.48,614,13.90
663498,AT0000A0E9W5,2022-11-22,16:35,14.48,14.48,14.48,14.48,26086,13.90

Get closing price per ISIN and day

In [25]:
# Get closing price per ISIN and day
# Create new column with closing price.
df_all['closing_price'] = df_all.sort_values(by=['Time']).groupby(['ISIN', 'Date'])['StartPrice'].transform('last')

In [26]:
df_all[df_all['ISIN']=='AT0000A0E9W5']

,ISIN,Date,Time,StartPrice,MaxPrice,MinPrice,EndPrice,TradedVolume,opening_price,closing_price
0,AT0000A0E9W5,2022-11-17,08:00,15.78,15.78,15.78,15.78,588,15.78,15.15
6964,AT0000A0E9W5,2022-11-17,08:23,15.78,15.78,15.78,15.78,200,15.78,15.15
8845,AT0000A0E9W5,2022-11-17,08:35,15.76,15.76,15.76,15.76,267,15.78,15.15
11081,AT0000A0E9W5,2022-11-17,08:46,15.79,15.80,15.73,15.79,7914,15.78,15.15
11307,AT0000A0E9W5,2022-11-17,08:47,15.75,15.80,15.73,15.73,1856,15.78,15.15
...,...,...,...,...,...,...,...,...,...,...
660373,AT0000A0E9W5,2022-11-22,16:21,14.57,14.57,14.55,14.55,277,13.90,14.48
661552,AT0000A0E9W5,2022-11-22,16:25,14.53,14.53,14.52,14.52,1417,13.90,14.48
662546,AT0000A0E9W5,2022-11-22,16:28,14.52,14.52,14.52,14.52,18,13.90,14.48
662901,AT0000A0E9W5,2022-11-22,16:29,14.51,14.51,14.48,14.48,614,13.90,14.48
663498,AT0000A0E9W5,2022-11-22,16:35,14.48,14.48,14.48,14.48,26086,13.90,14.48

In [27]:
# Aggregations
df_all = df_all.groupby(['ISIN', 'Date'], as_index=False).agg(opening_price_eur=('opening_price', 'min'), closing_price_eur=('closing_price', 'min'), minimum_price_eur=('MinPrice', 'min'), maximum_price_eur=('MaxPrice', 'max'), daily_traded_volume=('TradedVolume', 'sum'))

In [28]:
df_all

,ISIN,Date,opening_price_eur,closing_price_eur,minimum_price_eur,maximum_price_eur,daily_traded_volume
0,AT000000STR1,2022-11-17,39.8500,39.3500,39.3500,40.0500,1389
1,AT000000STR1,2022-11-18,38.8500,38.6000,38.6000,38.8500,153
2,AT000000STR1,2022-11-19,38.8500,38.6000,38.6000,38.8500,153
3,AT000000STR1,2022-11-20,38.8500,38.6000,38.6000,38.8500,153
4,AT000000STR1,2022-11-21,38.3000,37.4500,37.3500,38.3500,1179
...,...,...,...,...,...,...,...
19407,XS2434891219,2022-11-18,3.5866,3.5524,3.5524,3.5866,0
19408,XS2434891219,2022-11-19,3.5866,3.5524,3.5524,3.5866,0
19409,XS2434891219,2022-11-20,3.5866,3.5524,3.5524,3.5866,0
19410,XS2434891219,2022-11-21,3.4604,3.4312,3.3246,3.4604,0
19411,XS2434891219,2022-11-22,3.2618,3.3168,3.2618,3.3168,0

## Percent Change Prev Closing

In [29]:
# Percent Change Prev Closing
df_all['prev_closing_price'] = df_all.sort_values(by=['Date']).groupby(['ISIN'])['closing_price_eur'].shift(1)

In [30]:
df_all

,ISIN,Date,opening_price_eur,closing_price_eur,minimum_price_eur,maximum_price_eur,daily_traded_volume,prev_closing_price
0,AT000000STR1,2022-11-17,39.8500,39.3500,39.3500,40.0500,1389,NaN
1,AT000000STR1,2022-11-18,38.8500,38.6000,38.6000,38.8500,153,39.3500
2,AT000000STR1,2022-11-19,38.8500,38.6000,38.6000,38.8500,153,38.6000
3,AT000000STR1,2022-11-20,38.8500,38.6000,38.6000,38.8500,153,38.6000
4,AT000000STR1,2022-11-21,38.3000,37.4500,37.3500,38.3500,1179,38.6000
...,...,...,...,...,...,...,...,...
19407,XS2434891219,2022-11-18,3.5866,3.5524,3.5524,3.5866,0,3.7048
19408,XS2434891219,2022-11-19,3.5866,3.5524,3.5524,3.5866,0,3.5524
19409,XS2434891219,2022-11-20,3.5866,3.5524,3.5524,3.5866,0,3.5524
19410,XS2434891219,2022-11-21,3.4604,3.4312,3.3246,3.4604,0,3.5524
19411,XS2434891219,2022-11-22,3.2618,3.3168,3.2618,3.3168,0,3.4312

In [31]:
df_all['change_prev_closing_%'] = (df_all['closing_price_eur'] - df_all['prev_closing_price']) / df_all['prev_closing_price'] * 100

In [32]:
# Remove column and update df_all
df_all.drop(columns=['prev_closing_price'], inplace=True)

In [33]:
# Round everything.
df_all = df_all.round(decimals=2)

In [34]:
# Filter by date, don't show previous date that was used for calculation.
df_all = df_all[df_all.Date >= arg_date]

In [35]:
df_all

,ISIN,Date,opening_price_eur,closing_price_eur,minimum_price_eur,maximum_price_eur,daily_traded_volume,change_prev_closing_%
1,AT000000STR1,2022-11-18,38.85,38.60,38.60,38.85,153,-1.91
2,AT000000STR1,2022-11-19,38.85,38.60,38.60,38.85,153,0.00
3,AT000000STR1,2022-11-20,38.85,38.60,38.60,38.85,153,0.00
4,AT000000STR1,2022-11-21,38.30,37.45,37.35,38.35,1179,-2.98
5,AT000000STR1,2022-11-22,36.40,36.85,36.40,36.85,1475,-1.60
...,...,...,...,...,...,...,...,...
19407,XS2434891219,2022-11-18,3.59,3.55,3.55,3.59,0,-4.11
19408,XS2434891219,2022-11-19,3.59,3.55,3.55,3.59,0,0.00
19409,XS2434891219,2022-11-20,3.59,3.55,3.55,3.59,0,0.00
19410,XS2434891219,2022-11-21,3.46,3.43,3.32,3.46,0,-3.41
19411,XS2434891219,2022-11-22,3.26,3.32,3.26,3.32,0,-3.33